<DOCTYPE htlm>
	<head> 
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1> Hello world</h1>
		<p> je suis entrain d'apprendre à utiliser GIT </p>
		<p> GIT est un SCVD, Systeme de controle de versions Distribué.</p>
	</body>


</html>